* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  width: 100%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.welcome-head {
  letter-spacing: 1px;
}
.welcome-message {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.3rem;
}
.content-container {
  border: 1px solid #ddd;
  width: 400px;
  height: 500px;

  position: relative;
  z-index: 100;
  color: #fff;
}

header {
  height: 3.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
}
form input {
  padding: 0.2rem 0.5rem;
  border: 1px solid #ddd;
  outline: 0;
}

form button {
  width: 3rem;
  padding: 0.2rem 0.5rem;
  border: none;
  background-color: rgb(194, 169, 59);
  color: #fff;
  border-radius: 0;
}

.content {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.content-top {
  flex: 0 35%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.content-bot {
  flex: 1;

  display: flex;
  justify-content: center;
}
.img-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ddd;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.content-name {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}
.interaction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.interaction-content {
  border: 1px solid #ddd;
  width: 7rem;
  padding: 0.3rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.content-repos {
  border: 1px solid #ddd;
  width: 10rem;
  padding: 0.3rem 0;

  margin: auto;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.interaction-name {
  font-weight: 700;
}

@keyframes anim-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anim-loading 2s;
}
